## Markdown Basics
* **Bold**
* *Italic*
* **Bold and Italic**
* Normal Text
  * Sublist
  
  
I get 10 times more traffic from [google][1] than [Yahoo][2].

  [1]: http://google.com    "google"
  [2]: http://yahoo.com     "yahoo"
  
  
1. Ordered List 1
2. Ordered List 2

### Adding an Image link
[Jupyter Logo](jupyter.png) 

### Adding an Image

![Jupyter Logo](jupyter.png)

#### Adding Styles

<img src="jupyter.png" style="float:left">

## Python Basics

### Python version 3.7

- Scripting Language
- Object Oriented
-

In [3]:
# python comments

print("Good Afternoon Bhavani","!", end="||") # Basic Output
print("Hello Python")

Good Afternoon Bhavani !||Hello Python

## Assignment

In [ ]:
a = 235789 # Single Variable Assignment


b = c = d = a  # Multi Variable Assignmemt

# Multi Varialbe Assignment with different Values
a, b, c = 123, 234, 345

print(a,b,c)

## Arthimatic Operations
* +
* -
* /
* *
* %

In [4]:
atoms = 10 ** 62
len(str(atoms))
type(str(atoms))

str

## Data Types

- int
- float
- string
- double

In [10]:
s1 = "Bhavani"
type(s1)

f1 = 1.217
type(f1)

int(f1)
float(str(int(f1)))

1.0

## Conditionals

In [15]:
if atoms > 10 ** 9:
    print("True")
else:
    print("False")

False

In [1]:
# Check if a number is Even

n = 123
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [2]:
# Find the greatest of 3 numbers

n1 = int(input("Enter the first number"))
n2 = int(input("Enter the second number"))
n3 = int(input("Enter the third number"))

if n1 > n2 and n1 > n3:
    print(n1, "is the greatest")
elif n2 > n3:
    print(n2, "is the greatest")
else:
    print(n3, "is the greatest")

Enter the first number1
Enter the second number3
Enter the third number5
5 is the greatest

In [4]:
# Check if a year is a Leap year
year = 1978
if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Not a Leap Year

In [5]:
# Check if a number exists in a given range(inclusive)

n1 = 123
lb = 50
ub = 150

if n1 >= lb and n1 <= ub:
    print("Number exists in the given range")
else:
    print(n1, "does not exist in the given range")

Number exists in the given range

In [6]:
# Check if a number is a multiple of 10
if n % 10 == 0:
    print(n1, "is a multiple of 10")
else:
    print(n1, "is not a multiple of 10")

123 is not a multiple of 10