In [51]:
filepath = 'DataFiles/Income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)
    
readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [53]:
incomedf = readCSVdata(filepath)

In [56]:
# Function to find Average Income of all states from 2005 to 2013
def averageIncome(df):
    comAvg = 0
    sum = 0
    count = 0
    for item in df.values: 
        for i in range(2,len(item)):
            sum += int(item[i])
            count += 1
    print(sum//count)

averageIncome(incomedf)

48525

In [57]:
# Function to find State with highest average income in the last three years
def lastThreeYearsAverage(df):
    li = {}
    for item in df.values: 
        sum = 0
        count = 0        
        for i in range(len(item)-3,len(item)):
            sum += int(item[i])
            count += 1
        
        li[item[1]] = sum//count  
        
    li1 = [i for i in li.values()]
    st = [i[0] for i in li.items() if max(li1) == i[1]]
    print(st[0])


lastThreeYearsAverage(incomedf)

Alaska

In [58]:
# Function to find State with lowest average income from 2007 to 2010(inclusive)
def getColumnIndex(df,columnkey):
    for i in range(len(df.columns)):
        if df.columns[i] == columnkey:
            columnindex = i
    return columnindex

def rangeAverageIncome(df,lb,ub):
    columnindex = getColumnIndex(df,lb) 
    avgList = {}
    for item in df.values:
        sum = 0
        count = 0
        for i in range(columnindex,columnindex+(int(ub)-int(lb))+1):
            columnindex = i
            sum += item[columnindex]
            count += 1
        avgList[item[1]]=sum//count
        columnindex = getColumnIndex(df,lb)
    Avg = [i for i in avgList.values()]
    st = [i[0] for i in avgList.items() if min(Avg) == i[1]]
    print(st[0])
        
   
    

lb='2007'
ub='2010'
rangeAverageIncome(incomedf,lb,ub)

Arkansas

In [59]:
# Print the list of all states in the same line with average income less than California
def averageIncome(item):
    sum = 0
    count = 0
    for i in range(2,len(item)):
        sum += int(item[i])
        count += 1
       
    return sum//count 

def findLesser(df):
    avgDict = {}
    for item in df.values: 
        avgDict[item[1]] = averageIncome(item)
    st = [i[1] for i in avgDict.items() if i[0] == 'California']
    
    finalList = [i[0] for i in avgDict.items() if i[1] < st[0]]
    for i in finalList:
        print(i,end=' ')


findLesser(incomedf)

Alabama Arizona Arkansas

In [60]:
# Print the names of states based on descending order of income in the year 2009
def descendingOrderIncome(df,year):
    columnindex = getColumnIndex(df,year) 
    avgList = {}
    for item in df.values:
        avgList[item[1]] = item[columnindex]
    li = sorted(avgList.values(),reverse=True)
    for j in li:
        for i in avgList.items():        
            if i[1] == j:
                print(i[0])
    

descendingOrderIncome(incomedf,'2009')

Alaska
California
Arizona
Alabama
Arkansas

In [61]:
# Function to find State with the lowest recorded income from 2005 to 2013
def lowestRecord(df):
    for item in df.values:
        print(item[1],end=' ')
        li=[]
        for i in range(2,len(item)):            
            li.append(item[i])
        print(min(li))
lowestRecord(incomedf)

Alabama 37150
Alaska 55891
Arizona 45245
Arkansas 36538
California 51755

In [62]:
# Function to find State with the lowest recorded income from 2005 to 2013
def lowestRecord(df):
    inc = 0
    state = ''
    for item in df.values:        
        li=[]
        for i in range(2,len(item)):            
            li.append(item[i]) 
        if inc == 0:
            inc = min(li)
            state = item[1]
        elif inc > min(li) and inc != 0:            
            inc = min(li)
            state = item[1]
        
            
            
    print(state,inc)
lowestRecord(incomedf)

Arkansas 36538

In [48]:
d = {'name':'Durga','age':22}
for item in d.items():
    if item[0] == 'name':
        print(item[1])

Durga