In [38]:
def findAbsValue(li):
    t = ()
    for i in range(0,len(li)):
        for j in range(i+1,len(li)):
            print(li[i],li[j])            
        


findAbsValue([1,2,3,4,5])

1 2
1 3
1 4
1 5
2 3
2 4
2 5
3 4
3 5
4 5

In [39]:
def findAbsValue(li):
    t = ()
    for i in range(0,len(li)):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])            
        


findAbsValue([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [101]:



def differencePairs(li):
    cli = li[:]
    
    newelements = []
    
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli, li]

def medium(li,k):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            break
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1

li = [3,6,9,12,15,2]

medium(li,3)

13

## Set - Data Structure in Python

Represented by '{}'

In [113]:
a = {3,4,5,6,6}
a.add(7)
a
for i in a:
    print(i,end=' ')
li = [11,12,13]
b = {8,9,10,1,2}
a.update(b,li) # Adding Multiple Elements
a

3 4 5 6 7

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [122]:
a.discard(8)

a

{1, 3, 5, 6, 7, 10, 11, 12, 13}

In [146]:
a = {1,2,3}
b = {9,6,7,8,1}


a.intersection(b)

{1}

In [143]:
a.isdisjoint(b) # No common elements in a and b

True

In [142]:
a - b # All elements in a which are not in b

{1, 2, 3}

In [141]:
b-a # All elements in b which are not in a

{6, 7, 8, 9}

In [140]:
sorted(b)

[6, 7, 8, 9]

In [147]:
a ^ b # uncommon Elements either in a or b

{2, 3, 6, 7, 8, 9}

In [148]:
# Set Creation

d = set()
d

set()

In [153]:
li = [1,2,3,4,4]
u = list(set(li))
u

[1, 2, 3, 4]

### Procedural - C

### Object Oriented - Java

### Scripting - PHP,Python,Java Script,Shell Scripting,Perl

### Functional - Python, Haskell, Scala

### Logic - Prolog, Lisp

### List Comprehensions

In [158]:
# List of N Natural Numbers

n = 15
li = []
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [159]:
li = [i for i in range(1,n+1)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [161]:
# Apply List Comprehension to store the cubes of n natural numbers

li = [i ** 3 for i in range(1,n+1)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375]

In [170]:
# Function to calculate factorial of n natural numbers
def factorial(n):
    sum = 0
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)
findFactorial(3)

# Apply list comprehension to calculate factorial of n natural numbers
n = 10
li = [factorial(i) for i in range(1,n+1)]
li

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [191]:
# Calculate or store cumulative sum of numbers till n in a list

# Ex. if n = 3
#   out : [0+1,0+1+2,0+1+2+3] = [1,3,6]
def cumulativeSum(n):
    sum = 0
    for i in range(1,n+1):
        sum += i
    return sum
n = 5    
li = [cumulativeSum(i) for i in range(1,n+1)]
li

# Alternative Way
li1 = [sum(range(1,i+1)) for i in range(1,n+1)]
li1

[1, 3, 6, 10, 15]

In [205]:
# list comprehension to store only leap year in a given range

lb = 1970
ub = 2019

li = [i for i in range(lb,ub+1) if i%400 == 0 or (i%100 != 0 and i%4 == 0)]
li

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [238]:
li = [1,3,2,3,2,6,9,5,5,5]
li1 = []
li = [li1.append(i) for i in li if i not in li1]
li1

[1, 3, 2, 6, 9, 5]

### Iterators

- Iterable - Strings,Lists,Tuples,Sets,Dictionaries
* To convert iterable to Iterator --> iter()

In [249]:
it = iter('Python')
next(it)
next(it)

'y'

### Generators

- Generator is a function

In [273]:
def generator():
    n = 3
    yield  n
    for i in range(1,7):
        n = n**3
        yield n
    
   
    
    
    
a = generator()
for i in range(1,7):
    print(next(a))

3
27
19683
7625597484987
443426488243037769948249630619149892803
87189642485960958202911070585860771696964072404731750085525219437990967093723439943475549906831683116791055225665627

In [268]:
print(next(a))

443426488243037769948249630619149892803

In [269]:
print(next(a))

StopIteration: